<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Edit user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!--js-->
    <script th:src="@{/js/min.js}"></script>

</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form method="post" th:action="@{/adduser}" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name" th:field="${user.name}">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" th:field="${user.phone}">
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" class="form-control" name="age" id="age" th:field="*{age}">
                </div>
                <button type="submit" class="btn btn-primary">Edit user</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>